<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952643607444-4sdfrpt569kjm13h6p9sq45hp29gerf1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952643607444-4sdfrpt569kjm13h6p9sq45hp29gerf1</string>
	<key>API_KEY</key>
	<string>AIzaSyDk2KBmK5klDQMCsfX_9cEEehaCJPpe0yE</string>
	<key>GCM_SENDER_ID</key>
	<string>952643607444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wHealth</string>
	<key>PROJECT_ID</key>
	<string>w-health-4c125</string>
	<key>STORAGE_BUCKET</key>
	<string>w-health-4c125.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952643607444:ios:e88ab9896f8d8215210d81</string>
</dict>
</plist>